.hero-block-img {
    position: relative;

    & .circle1 {
        display: block;
        position: absolute;
        top: -276px;
        left: -197px;
        width: clamp(16.9rem, 70.08vw - 9.38rem, 60.7rem);
        height: clamp(16.9rem, 70.08vw - 9.38rem, 60.7rem);
        flex-shrink: 0;
        border-radius: clamp(16.9rem, 70.08vw - 9.38rem, 60.7rem);
        opacity: 0.25;
        background: #4e1def;
        filter: blur(100px);
    }

    & .circle2 {
        display: block;
        position: absolute;
        bottom: -53px;
        right: -122px;
        width: clamp(6.8rem, 28.16vw - 3.76rem, 24.4rem);
        height: clamp(6.8rem, 28.16vw - 3.76rem, 24.4rem);
        flex-shrink: 0;
        border-radius: 607px;
        opacity: 0.53;
        background: #ffc947;
        filter: blur(50px);
    }

    & .circle3 {
        display: block;
        position: absolute;
        bottom: 345px;
        right: -225px;
        width: clamp(22.8rem, 38.88vw + 8.22rem, 47.1rem);
        height: clamp(22.8rem, 38.88vw + 8.22rem, 47.1rem);
        transform: rotate(165deg);
        flex-shrink: 0;
        border-radius: clamp(22.8rem, 38.88vw + 8.22rem, 47.1rem);
        opacity: 0.15;
        background: #e5a2cf;

        filter: blur(125px);
    }

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        top: -10%;
        left: clamp(0.5rem, 2.24vw - 0.34rem, 1.9rem);
        width: clamp(1.1rem, 4.96vw - 0.76rem, 4.2rem);
        height: clamp(1rem, 4.64vw - 0.74rem, 3.9rem);
        background: url("/dist/assets/first-hero-image-element.svg");
        background-size: cover;
        /* height: 100px; */
    }

    &::after {
        content: "";
        position: absolute;
        bottom: clamp(0.3rem, 1.44vw - 0.24rem, 1.2rem);
        right: clamp(-0.2rem, -0.96vw + 0.16rem, -0.8rem);
        width: clamp(3.7rem, 14.88vw - 1.88rem, 13rem);
        height: clamp(1.1rem, 4vw - 0.4rem, 3.6rem);
        background: url("/dist/assets/second-hero-image-element.svg");
        background-size: cover;
    }

    &__image {
        position: relative;
        width: 1247px;
        z-index: 5;
    }
}
